# KiCad
## temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
*.kicad_sch.lck
*.kicad_pcb.lck
fp-info-cache
\#auto_saved_files#

## netlist
*.net

## autorouter
*.dsn
*.ses

## exported sheets
**/export/*.pdf
**/export/*.png
**/export/*.svg

## exported BOM files
**/export/bom.*
**/export/ibom.html

## exported gerbers
**/export/gerbers*
**/export/*.zip
**/*_gerbers_*.zip

## exported models
**/export/*.step


# ESPHome
/.esphome/
/secrets.yaml

# Other
_*
