# KiCad
## temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
*.kicad_sch.lck
*.kicad_pcb.lck
fp-info-cache
\#auto_saved_files#

## netlist
*.net

## autorouter
*.dsn
*.ses

## exports
**/export/*.mp4

## exported gerbers
**/export/gerbers*
**/export/*.zip
**/*_gerbers_*.zip

## exported models
**/export/*.step
**/export/*.stl


# ESPHome
.venv/
.esphome/
secrets.yaml

# Other
_*
